<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>存货编码查询</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.7/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.7.14/vue.min.js"></script>
    <style>
        .form-control {
            font-size: 0.875rem;
        }

        .table-responsive {
            margin-top: 1rem;
        }

        th,
        td {
            white-space: nowrap;
        }
    </style>
</head>

<body>
    <div id="app" class="container mt-4">
        <h1 class="text-center">存货编码查询</h1>

        <!-- 下拉菜单选择 -->
        <div class="row mt-4 g-3">
            <div class="col-12 col-md-3">
                <select v-model="selectedType" class="form-select">
                    <option value="common">常用热料</option>
                    <option value="product">沥青砼热料</option>
                    <option value="rawMaterial">原材料</option>
                    <option value="other">其他</option>
                </select>
            </div>
        </div>

        <!-- 输入框区域 -->
        <div class="row mt-4 g-3">
            <div class="col-12 col-md-3">
                <input type="text" v-model="nameQuery" class="form-control" placeholder="输入存货名称">
            </div>
            <div class="col-12 col-md-3">
                <input type="text" v-model="stoneTypeQuery" class="form-control" placeholder="输入石料类型">
            </div>
            <div class="col-12 col-md-3">
                <input type="text" v-model="asphaltTypeQuery" class="form-control" placeholder="输入沥青种类">
            </div>
            <div class="col-12 col-md-3">
                <input type="text" v-model="categoryQuery" class="form-control" placeholder="输入所属类别">
            </div>
        </div>

        <!-- 结果表格 -->
        <div class="table-responsive">
            <table class="table table-bordered mt-4">
                <thead class="table-dark">
                    <tr>
                        <th>物料编码</th>
                        <th>物料名称</th>
                        <th>石材种类</th>
                        <th>沥青种类</th>
                        <th>色粉种类</th>
                        <th>辅料种类</th>
                        <th>所属类别</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in filteredInventory" :key="item.物料编码">
                        <td>{{ item.物料编码 }}</td>
                        <td>{{ item.物料名称 }}</td>
                        <td>{{ item.石材种类 }}</td>
                        <td>{{ item.沥青种类 }}</td>
                        <td>{{ item.色粉种类 }}</td>
                        <td>{{ item.辅料种类 }}</td>
                        <td>{{ item.所属类别 }}</td>
                    </tr>
                    <tr v-if="filteredInventory.length === 0">
                        <td colspan="7" class="text-center">未找到匹配的物料编码。</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script>
        new Vue({
            el: '#app',
            data: {
                selectedType: 'common', // 用于选择产成品或原材料
                nameQuery: '',
                stoneTypeQuery: '',
                asphaltTypeQuery: '',
                categoryQuery: '',
                commonData: [
                    { "物料编码": 11002, "物料名称": "AC-10", "石材种类": "碎石", "沥青种类": "重交沥青", "色粉种类": "", "辅料种类": "", "所属类别": "再生重交" },
                    { "物料编码": 11003, "物料名称": "AC-13", "石材种类": "碎石", "沥青种类": "重交沥青", "色粉种类": "", "辅料种类": "", "所属类别": "再生重交" },
                    { "物料编码": 11004, "物料名称": "AC-13（玄武岩）", "石材种类": "玄武岩", "沥青种类": "重交沥青", "色粉种类": "", "辅料种类": "", "所属类别": "再生重交" },
                    { "物料编码": 11005, "物料名称": "AC-16", "石材种类": "碎石", "沥青种类": "重交沥青", "色粉种类": "", "辅料种类": "", "所属类别": "再生重交" },
                    { "物料编码": 11006, "物料名称": "AC-20", "石材种类": "碎石", "沥青种类": "重交沥青", "色粉种类": "", "辅料种类": "", "所属类别": "再生重交" },
                    { "物料编码": 11007, "物料名称": "AC-25", "石材种类": "碎石", "沥青种类": "重交沥青", "色粉种类": "", "辅料种类": "", "所属类别": "再生重交" },
                    { "物料编码": 11008, "物料名称": "SMA-10", "石材种类": "玄武岩", "沥青种类": "重交沥青", "色粉种类": "", "辅料种类": "木质纤维", "所属类别": "再生重交" },
                    { "物料编码": 11009, "物料名称": "SMA-13", "石材种类": "玄武岩", "沥青种类": "重交沥青", "色粉种类": "", "辅料种类": "木质纤维", "所属类别": "再生重交" },
                    { "物料编码": 12002, "物料名称": "SBSAC-10", "石材种类": "碎石", "沥青种类": "SBS改性沥青", "色粉种类": "", "辅料种类": "", "所属类别": "再生改性" },
                    { "物料编码": 12003, "物料名称": "SBSAC-13", "石材种类": "碎石", "沥青种类": "SBS改性沥青", "色粉种类": "", "辅料种类": "", "所属类别": "再生改性" },
                    { "物料编码": 12004, "物料名称": "SBSAC-13（玄武岩）", "石材种类": "玄武岩", "沥青种类": "SBS改性沥青", "色粉种类": "", "辅料种类": "", "所属类别": "再生改性" },
                    { "物料编码": 12007, "物料名称": "SMA-10", "石材种类": "玄武岩", "沥青种类": "SBS改性沥青", "色粉种类": "", "辅料种类": "木质纤维", "所属类别": "再生改性" },
                    { "物料编码": 12008, "物料名称": "SMA-13", "石材种类": "玄武岩", "沥青种类": "SBS改性沥青", "色粉种类": "", "辅料种类": "木质纤维", "所属类别": "再生改性" },
                    { "物料编码": 21002, "物料名称": "AC-10", "石材种类": "碎石", "沥青种类": "重交沥青", "色粉种类": "", "辅料种类": "", "所属类别": "原生重交" },
                    { "物料编码": 21003, "物料名称": "AC-13", "石材种类": "碎石", "沥青种类": "重交沥青", "色粉种类": "", "辅料种类": "", "所属类别": "原生重交" },
                    { "物料编码": 21004, "物料名称": "AC-13（玄武岩）", "石材种类": "玄武岩", "沥青种类": "重交沥青", "色粉种类": "", "辅料种类": "", "所属类别": "原生重交" },
                    { "物料编码": 21005, "物料名称": "AC-16", "石材种类": "碎石", "沥青种类": "重交沥青", "色粉种类": "", "辅料种类": "", "所属类别": "原生重交" },
                    { "物料编码": 21006, "物料名称": "AC-20", "石材种类": "碎石", "沥青种类": "重交沥青", "色粉种类": "", "辅料种类": "", "所属类别": "原生重交" },
                    { "物料编码": 21008, "物料名称": "SMA-10", "石材种类": "玄武岩", "沥青种类": "重交沥青", "色粉种类": "", "辅料种类": "木质纤维", "所属类别": "原生重交" },
                    { "物料编码": 21009, "物料名称": "SMA-13", "石材种类": "玄武岩", "沥青种类": "重交沥青", "色粉种类": "", "辅料种类": "木质纤维", "所属类别": "原生重交" },
                    { "物料编码": 22002, "物料名称": "SBSAC-10", "石材种类": "碎石", "沥青种类": "SBS改性沥青", "色粉种类": "", "辅料种类": "", "所属类别": "原生改性" },
                    { "物料编码": 22003, "物料名称": "SBSAC-13", "石材种类": "碎石", "沥青种类": "SBS改性沥青", "色粉种类": "", "辅料种类": "", "所属类别": "原生改性" },
                    { "物料编码": 22004, "物料名称": "SBSAC-13（玄武岩）", "石材种类": "玄武岩", "沥青种类": "SBS改性沥青", "色粉种类": "", "辅料种类": "", "所属类别": "原生改性" },
                    { "物料编码": 22007, "物料名称": "SMA-10", "石材种类": "玄武岩", "沥青种类": "SBS改性沥青", "色粉种类": "", "辅料种类": "木质纤维", "所属类别": "原生改性" },
                    { "物料编码": 22008, "物料名称": "SMA-13", "石材种类": "玄武岩", "沥青种类": "SBS改性沥青", "色粉种类": "", "辅料种类": "木质纤维", "所属类别": "原生改性" }
                ],
                productData: [
                    { "物料编码": 11001, "物料名称": "AC-5", "石材种类": "碎石", "沥青种类": "重交沥青", "色粉种类": "", "辅料种类": "", "所属类别": "再生重交" },
                    { "物料编码": 11002, "物料名称": "AC-10", "石材种类": "碎石", "沥青种类": "重交沥青", "色粉种类": "", "辅料种类": "", "所属类别": "再生重交" },
                    { "物料编码": 11003, "物料名称": "AC-13", "石材种类": "碎石", "沥青种类": "重交沥青", "色粉种类": "", "辅料种类": "", "所属类别": "再生重交" },
                    { "物料编码": 11004, "物料名称": "AC-13（玄武岩）", "石材种类": "玄武岩", "沥青种类": "重交沥青", "色粉种类": "", "辅料种类": "", "所属类别": "再生重交" },
                    { "物料编码": 11005, "物料名称": "AC-16", "石材种类": "碎石", "沥青种类": "重交沥青", "色粉种类": "", "辅料种类": "", "所属类别": "再生重交" },
                    { "物料编码": 11006, "物料名称": "AC-20", "石材种类": "碎石", "沥青种类": "重交沥青", "色粉种类": "", "辅料种类": "", "所属类别": "再生重交" },
                    { "物料编码": 11007, "物料名称": "AC-25", "石材种类": "碎石", "沥青种类": "重交沥青", "色粉种类": "", "辅料种类": "", "所属类别": "再生重交" },
                    { "物料编码": 11008, "物料名称": "SMA-10", "石材种类": "玄武岩", "沥青种类": "重交沥青", "色粉种类": "", "辅料种类": "木质纤维", "所属类别": "再生重交" },
                    { "物料编码": 11009, "物料名称": "SMA-13", "石材种类": "玄武岩", "沥青种类": "重交沥青", "色粉种类": "", "辅料种类": "木质纤维", "所属类别": "再生重交" },
                    { "物料编码": 11010, "物料名称": "OGFC-5", "石材种类": "碎石", "沥青种类": "重交沥青", "色粉种类": "", "辅料种类": "", "所属类别": "再生重交" },
                    { "物料编码": 11011, "物料名称": "OGFC-10", "石材种类": "碎石", "沥青种类": "重交沥青", "色粉种类": "", "辅料种类": "", "所属类别": "再生重交" },
                    { "物料编码": 11012, "物料名称": "OGFC-10", "石材种类": "碎石", "沥青种类": "重交沥青", "色粉种类": "", "辅料种类": "木质纤维", "所属类别": "再生重交" },
                    { "物料编码": 11013, "物料名称": "OGFC-13", "石材种类": "碎石", "沥青种类": "重交沥青", "色粉种类": "", "辅料种类": "", "所属类别": "再生重交" },
                    { "物料编码": 11014, "物料名称": "OGFC-13", "石材种类": "碎石", "沥青种类": "重交沥青", "色粉种类": "", "辅料种类": "木质纤维", "所属类别": "再生重交" },
                    { "物料编码": 11015, "物料名称": "OGFC-20", "石材种类": "碎石", "沥青种类": "重交沥青", "色粉种类": "", "辅料种类": "", "所属类别": "再生重交" },
                    { "物料编码": 11016, "物料名称": "OGFC-20", "石材种类": "碎石", "沥青种类": "重交沥青", "色粉种类": "", "辅料种类": "木质纤维", "所属类别": "再生重交" },
                    { "物料编码": 11017, "物料名称": "ATB-25", "石材种类": "碎石", "沥青种类": "重交沥青", "色粉种类": "", "辅料种类": "", "所属类别": "再生重交" },
                    { "物料编码": 11018, "物料名称": "AC-10（玄武岩）", "石材种类": "玄武岩", "沥青种类": "重交沥青", "色粉种类": "", "辅料种类": "", "所属类别": "再生重交" },
                    { "物料编码": 11019, "物料名称": "OGFC-16", "石材种类": "碎石", "沥青种类": "重交沥青", "色粉种类": "", "辅料种类": "", "所属类别": "再生重交" },
                    { "物料编码": 12001, "物料名称": "SBSAC-5", "石材种类": "碎石", "沥青种类": "SBS改性沥青", "色粉种类": "", "辅料种类": "", "所属类别": "再生改性" },
                    { "物料编码": 12002, "物料名称": "SBSAC-10", "石材种类": "碎石", "沥青种类": "SBS改性沥青", "色粉种类": "", "辅料种类": "", "所属类别": "再生改性" },
                    { "物料编码": 12003, "物料名称": "SBSAC-13", "石材种类": "碎石", "沥青种类": "SBS改性沥青", "色粉种类": "", "辅料种类": "", "所属类别": "再生改性" },
                    { "物料编码": 12004, "物料名称": "SBSAC-13（玄武岩）", "石材种类": "玄武岩", "沥青种类": "SBS改性沥青", "色粉种类": "", "辅料种类": "", "所属类别": "再生改性" },
                    { "物料编码": 12005, "物料名称": "SBSAC-20", "石材种类": "碎石", "沥青种类": "SBS改性沥青", "色粉种类": "", "辅料种类": "", "所属类别": "再生改性" },
                    { "物料编码": 12006, "物料名称": "SBSAC-25", "石材种类": "碎石", "沥青种类": "SBS改性沥青", "色粉种类": "", "辅料种类": "", "所属类别": "再生改性" },
                    { "物料编码": 12007, "物料名称": "SMA-10", "石材种类": "玄武岩", "沥青种类": "SBS改性沥青", "色粉种类": "", "辅料种类": "木质纤维", "所属类别": "再生改性" },
                    { "物料编码": 12008, "物料名称": "SMA-13", "石材种类": "玄武岩", "沥青种类": "SBS改性沥青", "色粉种类": "", "辅料种类": "木质纤维", "所属类别": "再生改性" },
                    { "物料编码": 12009, "物料名称": "SBSOGFC-10", "石材种类": "碎石", "沥青种类": "SBS改性沥青", "色粉种类": "", "辅料种类": "", "所属类别": "再生改性" },
                    { "物料编码": 12010, "物料名称": "SBSOGFC-10", "石材种类": "碎石", "沥青种类": "SBS改性沥青", "色粉种类": "", "辅料种类": "木质纤维", "所属类别": "再生改性" },
                    { "物料编码": 12011, "物料名称": "SBSOGFC-13", "石材种类": "碎石", "沥青种类": "SBS改性沥青", "色粉种类": "", "辅料种类": "", "所属类别": "再生改性" },
                    { "物料编码": 12012, "物料名称": "SBSOGFC-13", "石材种类": "碎石", "沥青种类": "SBS改性沥青", "色粉种类": "", "辅料种类": "木质纤维", "所属类别": "再生改性" },
                    { "物料编码": 12013, "物料名称": "SBSOGFC-20", "石材种类": "碎石", "沥青种类": "SBS改性沥青", "色粉种类": "", "辅料种类": "", "所属类别": "再生改性" },
                    { "物料编码": 12014, "物料名称": "SBSOGFC-20", "石材种类": "碎石", "沥青种类": "SBS改性沥青", "色粉种类": "", "辅料种类": "木质纤维", "所属类别": "再生改性" },
                    { "物料编码": 12015, "物料名称": "SBSAC-16", "石材种类": "碎石", "沥青种类": "SBS改性沥青", "色粉种类": "", "辅料种类": "", "所属类别": "再生改性" },
                    { "物料编码": 12016, "物料名称": "SBSAC-10（玄武岩）", "石材种类": "玄武岩", "沥青种类": "SBS改性沥青", "色粉种类": "", "辅料种类": "", "所属类别": "再生改性" },
                    { "物料编码": 12017, "物料名称": "SBSOGFC-13（玄武岩）", "石材种类": "玄武岩", "沥青种类": "SBS改性沥青", "色粉种类": "", "辅料种类": "", "所属类别": "再生改性" },
                    { "物料编码": 13001, "物料名称": "AC-5", "石材种类": "碎石", "沥青种类": "重交加工沥青", "色粉种类": "", "辅料种类": "", "所属类别": "再生加工" },
                    { "物料编码": 13002, "物料名称": "AC-10", "石材种类": "碎石", "沥青种类": "重交加工沥青青", "色粉种类": "", "辅料种类": "", "所属类别": "再生加工" },
                    { "物料编码": 13003, "物料名称": "AC-13", "石材种类": "碎石", "沥青种类": "重交加工沥青", "色粉种类": "", "辅料种类": "", "所属类别": "再生加工" },
                    { "物料编码": 13004, "物料名称": "AC-16", "石材种类": "碎石", "沥青种类": "重交加工沥青", "色粉种类": "", "辅料种类": "", "所属类别": "再生加工" },
                    { "物料编码": 13005, "物料名称": "AC-20", "石材种类": "碎石", "沥青种类": "重交加工沥青", "色粉种类": "", "辅料种类": "", "所属类别": "再生加工" },
                    { "物料编码": 13006, "物料名称": "SMA-13", "石材种类": "玄武岩", "沥青种类": "重交加工沥青", "色粉种类": "", "辅料种类": "木质纤维", "所属类别": "再生加工" },
                    { "物料编码": 13007, "物料名称": "SBSAC-5", "石材种类": "碎石", "沥青种类": "改性加工沥青", "色粉种类": "", "辅料种类": "", "所属类别": "再生加工" },
                    { "物料编码": 13008, "物料名称": "SBSAC-13", "石材种类": "碎石", "沥青种类": "改性加工沥青", "色粉种类": "", "辅料种类": "", "所属类别": "再生加工" },
                    { "物料编码": 13009, "物料名称": "SBSAC-13（玄武岩）", "石材种类": "玄武岩", "沥青种类": "改性加工沥青", "色粉种类": "", "辅料种类": "", "所属类别": "再生加工" },
                    { "物料编码": 13010, "物料名称": "SBSAC-20", "石材种类": "碎石", "沥青种类": "改性加工沥青", "色粉种类": "", "辅料种类": "", "所属类别": "再生加工" },
                    { "物料编码": 13011, "物料名称": "SMA-13", "石材种类": "玄武岩", "沥青种类": "改性加工沥青", "色粉种类": "", "辅料种类": "木质纤维", "所属类别": "再生加工" },
                    { "物料编码": 21001, "物料名称": "AC-5", "石材种类": "碎石", "沥青种类": "重交沥青", "色粉种类": "", "辅料种类": "", "所属类别": "原生重交" },
                    { "物料编码": 21002, "物料名称": "AC-10", "石材种类": "碎石", "沥青种类": "重交沥青", "色粉种类": "", "辅料种类": "", "所属类别": "原生重交" },
                    { "物料编码": 21003, "物料名称": "AC-13", "石材种类": "碎石", "沥青种类": "重交沥青", "色粉种类": "", "辅料种类": "", "所属类别": "原生重交" },
                    { "物料编码": 21004, "物料名称": "AC-13（玄武岩）", "石材种类": "玄武岩", "沥青种类": "重交沥青", "色粉种类": "", "辅料种类": "", "所属类别": "原生重交" },
                    { "物料编码": 21005, "物料名称": "AC-16", "石材种类": "碎石", "沥青种类": "重交沥青", "色粉种类": "", "辅料种类": "", "所属类别": "原生重交" },
                    { "物料编码": 21006, "物料名称": "AC-20", "石材种类": "碎石", "沥青种类": "重交沥青", "色粉种类": "", "辅料种类": "", "所属类别": "原生重交" },
                    { "物料编码": 21007, "物料名称": "AC-25", "石材种类": "碎石", "沥青种类": "重交沥青", "色粉种类": "", "辅料种类": "", "所属类别": "原生重交" },
                    { "物料编码": 21008, "物料名称": "SMA-10", "石材种类": "玄武岩", "沥青种类": "重交沥青", "色粉种类": "", "辅料种类": "木质纤维", "所属类别": "原生重交" },
                    { "物料编码": 21009, "物料名称": "SMA-13", "石材种类": "玄武岩", "沥青种类": "重交沥青", "色粉种类": "", "辅料种类": "木质纤维", "所属类别": "原生重交" },
                    { "物料编码": 21010, "物料名称": "裹覆沥青砼10", "石材种类": "碎石", "沥青种类": "重交沥青", "色粉种类": "", "辅料种类": "", "所属类别": "原生重交" },
                    { "物料编码": 22001, "物料名称": "SBSAC-5", "石材种类": "碎石", "沥青种类": "SBS改性沥青", "色粉种类": "", "辅料种类": "", "所属类别": "原生改性" },
                    { "物料编码": 22002, "物料名称": "SBSAC-10", "石材种类": "碎石", "沥青种类": "SBS改性沥青", "色粉种类": "", "辅料种类": "", "所属类别": "原生改性" },
                    { "物料编码": 22003, "物料名称": "SBSAC-13", "石材种类": "碎石", "沥青种类": "SBS改性沥青", "色粉种类": "", "辅料种类": "", "所属类别": "原生改性" },
                    { "物料编码": 22004, "物料名称": "SBSAC-13（玄武岩）", "石材种类": "玄武岩", "沥青种类": "SBS改性沥青", "色粉种类": "", "辅料种类": "", "所属类别": "原生改性" },
                    { "物料编码": 22005, "物料名称": "SBSAC-20", "石材种类": "碎石", "沥青种类": "SBS改性沥青", "色粉种类": "", "辅料种类": "", "所属类别": "原生改性" },
                    { "物料编码": 22006, "物料名称": "SBSAC-25", "石材种类": "碎石", "沥青种类": "SBS改性沥青", "色粉种类": "", "辅料种类": "", "所属类别": "原生改性" },
                    { "物料编码": 22007, "物料名称": "SMA-10", "石材种类": "玄武岩", "沥青种类": "SBS改性沥青", "色粉种类": "", "辅料种类": "木质纤维", "所属类别": "原生改性" },
                    { "物料编码": 22008, "物料名称": "SMA-13", "石材种类": "玄武岩", "沥青种类": "SBS改性沥青", "色粉种类": "", "辅料种类": "木质纤维", "所属类别": "原生改性" },
                    { "物料编码": 22009, "物料名称": "SBSOGFC-10", "石材种类": "碎石", "沥青种类": "SBS改性沥青", "色粉种类": "", "辅料种类": "木质纤维", "所属类别": "原生改性" },
                    { "物料编码": 22010, "物料名称": "SBSAC-10（玄武岩）", "石材种类": "玄武岩", "沥青种类": "SBS改性沥青", "色粉种类": "", "辅料种类": "", "所属类别": "原生改性" },
                    { "物料编码": 23001, "物料名称": "AC-10", "石材种类": "碎石", "沥青种类": "重交加工沥青", "色粉种类": "", "辅料种类": "", "所属类别": "原生加工" },
                    { "物料编码": 23002, "物料名称": "AC-13", "石材种类": "碎石", "沥青种类": "重交加工沥青", "色粉种类": "", "辅料种类": "", "所属类别": "原生加工" },
                    { "物料编码": 23003, "物料名称": "AC-16", "石材种类": "碎石", "沥青种类": "重交加工沥青", "色粉种类": "", "辅料种类": "", "所属类别": "原生加工" },
                    { "物料编码": 23004, "物料名称": "AC-20", "石材种类": "碎石", "沥青种类": "重交加工沥青", "色粉种类": "", "辅料种类": "", "所属类别": "原生加工" },
                    { "物料编码": 23005, "物料名称": "SMA-13", "石材种类": "玄武岩", "沥青种类": "重交加工沥青", "色粉种类": "", "辅料种类": "木质纤维", "所属类别": "原生加工" },
                    { "物料编码": 23006, "物料名称": "SBSAC-13", "石材种类": "碎石", "沥青种类": "改性加工沥青", "色粉种类": "", "辅料种类": "", "所属类别": "原生加工" },
                    { "物料编码": 23007, "物料名称": "SBSAC-13（玄武岩）", "石材种类": "玄武岩", "沥青种类": "改性加工沥青", "色粉种类": "", "辅料种类": "", "所属类别": "原生加工" },
                    { "物料编码": 23008, "物料名称": "SBSAC-20", "石材种类": "碎石", "沥青种类": "改性加工沥青", "色粉种类": "", "辅料种类": "", "所属类别": "原生加工" },
                    { "物料编码": 23009, "物料名称": "SMA-13", "石材种类": "玄武岩", "沥青种类": "改性加工沥青", "色粉种类": "", "辅料种类": "木质纤维", "所属类别": "原生加工" },
                    { "物料编码": 23010, "物料名称": "AC-10", "石材种类": "碎石", "沥青种类": "脱色加工沥青", "色粉种类": "铁红色粉", "辅料种类": "", "所属类别": "原生加工" },
                    { "物料编码": 23011, "物料名称": "OGFC-5", "石材种类": "玄武岩", "沥青种类": "脱色加工沥青", "色粉种类": "蓝色加工色粉", "辅料种类": "", "所属类别": "原生加工" },
                    { "物料编码": 23012, "物料名称": "AC-13", "石材种类": "碎石", "沥青种类": "脱色加工沥青", "色粉种类": "铁红加工色粉", "辅料种类": "", "所属类别": "原生加工" },
                    { "物料编码": 24001, "物料名称": "AC-10（红）", "石材种类": "碎石", "沥青种类": "脱色沥青", "色粉种类": "铁红色粉", "辅料种类": "", "所属类别": "原生彩色" },
                    { "物料编码": 24002, "物料名称": "AC-10（灰）", "石材种类": "碎石", "沥青种类": "脱色沥青", "色粉种类": "灰色色粉", "辅料种类": "", "所属类别": "原生彩色" },
                    { "物料编码": 24003, "物料名称": "AC-10（浅灰）", "石材种类": "碎石", "沥青种类": "脱色沥青", "色粉种类": "浅灰色粉", "辅料种类": "", "所属类别": "原生彩色" },
                    { "物料编码": 24004, "物料名称": "AC-10（深蓝）", "石材种类": "碎石", "沥青种类": "脱色沥青", "色粉种类": "深蓝色粉", "辅料种类": "", "所属类别": "原生彩色" },
                    { "物料编码": 24005, "物料名称": "AC-13（草绿）", "石材种类": "碎石", "沥青种类": "脱色沥青", "色粉种类": "草绿色粉", "辅料种类": "", "所属类别": "原生彩色" },
                    { "物料编码": 24006, "物料名称": "AC-13（深蓝）", "石材种类": "碎石", "沥青种类": "脱色沥青", "色粉种类": "深蓝色粉", "辅料种类": "", "所属类别": "原生彩色" },
                    { "物料编码": 24007, "物料名称": "OGFC-5（红）", "石材种类": "碎石", "沥青种类": "脱色沥青", "色粉种类": "铁红色粉", "辅料种类": "", "所属类别": "原生彩色" },
                    { "物料编码": 24008, "物料名称": "OGFC-5（深灰）", "石材种类": "碎石", "沥青种类": "脱色沥青", "色粉种类": "深灰色粉", "辅料种类": "", "所属类别": "原生彩色" },
                    { "物料编码": 24009, "物料名称": "OGFC-10（浅灰）", "石材种类": "碎石", "沥青种类": "脱色沥青", "色粉种类": "浅灰色粉", "辅料种类": "", "所属类别": "原生彩色" },
                    { "物料编码": 24010, "物料名称": "AC-10（橙）", "石材种类": "碎石", "沥青种类": "脱色沥青", "色粉种类": "橙色色粉", "辅料种类": "", "所属类别": "原生彩色" },
                    { "物料编码": 24011, "物料名称": "AC-10（深灰）", "石材种类": "碎石", "沥青种类": "脱色沥青", "色粉种类": "深灰色粉", "辅料种类": "", "所属类别": "原生彩色" },
                    { "物料编码": 24012, "物料名称": "AC-13（深灰）", "石材种类": "碎石", "沥青种类": "脱色沥青", "色粉种类": "深灰色粉", "辅料种类": "", "所属类别": "原生彩色" },
                    { "物料编码": 24013, "物料名称": "AC-13（铁红）", "石材种类": "碎石", "沥青种类": "脱色沥青", "色粉种类": "铁红色粉", "辅料种类": "", "所属类别": "原生彩色" },
                    { "物料编码": 24014, "物料名称": "AC-5（橙））", "石材种类": "碎石", "沥青种类": "脱色沥青", "色粉种类": "深灰色粉", "辅料种类": "", "所属类别": "原生彩色" },
                    { "物料编码": 24015, "物料名称": "AC-5（浅灰）", "石材种类": "碎石", "沥青种类": "脱色沥青", "色粉种类": "浅灰色粉", "辅料种类": "", "所属类别": "原生彩色" },
                    { "物料编码": 24016, "物料名称": "AC-13（蓝灰）", "石材种类": "碎石", "沥青种类": "脱色沥青", "色粉种类": "蓝灰色粉", "辅料种类": "", "所属类别": "原生彩色" }
                ],
                rawMaterialData: [
                    { "物料编码": 31001, "物料名称": "重交沥青（70#）", "石材种类": "-", "沥青种类": "重交沥青", "色粉种类": "-", "辅料种类": "-", "所属类别": "原材料" },
                    { "物料编码": 31002, "物料名称": "重交沥青（90#）", "石材种类": "-", "沥青种类": "重交沥青", "色粉种类": "-", "辅料种类": "-", "所属类别": "原材料" },
                    { "物料编码": 31003, "物料名称": "SBS改性沥青", "石材种类": "-", "沥青种类": "SBS改性沥青", "色粉种类": "-", "辅料种类": "-", "所属类别": "原材料" },
                    { "物料编码": 31004, "物料名称": "高粘改性沥青", "石材种类": "-", "沥青种类": "高粘改性沥青", "色粉种类": "-", "辅料种类": "-", "所属类别": "原材料" },
                    { "物料编码": 31005, "物料名称": "脱色沥青", "石材种类": "-", "沥青种类": "脱色沥青", "色粉种类": "-", "辅料种类": "-", "所属类别": "原材料" },
                    { "物料编码": 31006, "物料名称": "重交沥青（110#）", "石材种类": "-", "沥青种类": "重交沥青", "色粉种类": "-", "辅料种类": "-", "所属类别": "原材料" },
                    { "物料编码": 32001, "物料名称": "碎石-粗骨料", "石材种类": "碎石", "沥青种类": "-", "色粉种类": "-", "辅料种类": "-", "所属类别": "原材料" },
                    { "物料编码": 32002, "物料名称": "河砂", "石材种类": "碎石", "沥青种类": "-", "色粉种类": "-", "辅料种类": "-", "所属类别": "原材料" },
                    { "物料编码": 32003, "物料名称": "石粉砂", "石材种类": "碎石", "沥青种类": "-", "色粉种类": "-", "辅料种类": "-", "所属类别": "原材料" },
                    { "物料编码": 32004, "物料名称": "碎石3-6", "石材种类": "碎石", "沥青种类": "-", "色粉种类": "-", "辅料种类": "-", "所属类别": "原材料" },
                    { "物料编码": 32005, "物料名称": "碎石10", "石材种类": "碎石", "沥青种类": "-", "色粉种类": "-", "辅料种类": "-", "所属类别": "原材料" },
                    { "物料编码": 32006, "物料名称": "碎石15", "石材种类": "碎石", "沥青种类": "-", "色粉种类": "-", "辅料种类": "-", "所属类别": "原材料" },
                    { "物料编码": 32007, "物料名称": "碎石20", "石材种类": "碎石", "沥青种类": "-", "色粉种类": "-", "辅料种类": "-", "所属类别": "原材料" },
                    { "物料编码": 32008, "物料名称": "碎石25", "石材种类": "碎石", "沥青种类": "-", "色粉种类": "-", "辅料种类": "-", "所属类别": "原材料" },
                    { "物料编码": 32009, "物料名称": "河石3-6", "石材种类": "碎石", "沥青种类": "-", "色粉种类": "-", "辅料种类": "-", "所属类别": "原材料" },
                    { "物料编码": 32010, "物料名称": "河石10", "石材种类": "碎石", "沥青种类": "-", "色粉种类": "-", "辅料种类": "-", "所属类别": "原材料" },
                    { "物料编码": 32011, "物料名称": "河石15", "石材种类": "碎石", "沥青种类": "-", "色粉种类": "-", "辅料种类": "-", "所属类别": "原材料" },
                    { "物料编码": 32012, "物料名称": "河石20", "石材种类": "碎石", "沥青种类": "-", "色粉种类": "-", "辅料种类": "-", "所属类别": "原材料" },
                    { "物料编码": 32013, "物料名称": "河石25", "石材种类": "碎石", "沥青种类": "-", "色粉种类": "-", "辅料种类": "-", "所属类别": "原材料" },
                    { "物料编码": 32014, "物料名称": "玄武岩3-6", "石材种类": "玄武岩", "沥青种类": "-", "色粉种类": "-", "辅料种类": "-", "所属类别": "原材料" },
                    { "物料编码": 32015, "物料名称": "玄武岩10", "石材种类": "玄武岩", "沥青种类": "-", "色粉种类": "-", "辅料种类": "-", "所属类别": "原材料" },
                    { "物料编码": 32016, "物料名称": "玄武岩15", "石材种类": "玄武岩", "沥青种类": "-", "色粉种类": "-", "辅料种类": "-", "所属类别": "原材料" },
                    { "物料编码": 32017, "物料名称": "废旧沥青砼", "石材种类": "废旧沥青砼", "沥青种类": "-", "色粉种类": "-", "辅料种类": "-", "所属类别": "原材料" },
                    { "物料编码": 32018, "物料名称": "玄武岩废旧沥青砼", "石材种类": "废旧沥青砼", "沥青种类": "-", "色粉种类": "-", "辅料种类": "-", "所属类别": "原材料" },
                    { "物料编码": 32019, "物料名称": "块状废旧沥青砼", "石材种类": "废旧沥青砼", "沥青种类": "-", "色粉种类": "-", "辅料种类": "-", "所属类别": "原材料" },
                    { "物料编码": 32020, "物料名称": "矿粉", "石材种类": "碎石", "沥青种类": "-", "色粉种类": "-", "辅料种类": "-", "所属类别": "原材料" },
                    { "物料编码": 32021, "物料名称": "石粉", "石材种类": "碎石", "沥青种类": "-", "色粉种类": "-", "辅料种类": "-", "所属类别": "原材料" },
                    { "物料编码": 32022, "物料名称": "废旧沥青砼（客户余料）", "石材种类": "废旧沥青砼", "沥青种类": "-", "色粉种类": "-", "辅料种类": "-", "所属类别": "原材料" },
                    { "物料编码": 32023, "物料名称": "废旧沥青砼（销售退料）", "石材种类": "废旧沥青砼", "沥青种类": "-", "色粉种类": "-", "辅料种类": "-", "所属类别": "原材料" },
                    { "物料编码": 32024, "物料名称": "玄武岩（加工）", "石材种类": "玄武岩", "沥青种类": "-", "色粉种类": "-", "辅料种类": "-", "所属类别": "原材料" },
                    { "物料编码": 32025, "物料名称": "块状玄武岩废旧沥青砼", "石材种类": "废旧沥青砼", "沥青种类": "-", "色粉种类": "-", "辅料种类": "-", "所属类别": "原材料" },
                    { "物料编码": 33001, "物料名称": "木质纤维", "石材种类": "-", "沥青种类": "-", "色粉种类": "-", "辅料种类": "外添加剂", "所属类别": "辅料" },
                    { "物料编码": 33002, "物料名称": "抗剥落剂", "石材种类": "-", "沥青种类": "-", "色粉种类": "-", "辅料种类": "外添加剂", "所属类别": "辅料" },
                    { "物料编码": 33003, "物料名称": "抗车辙剂", "石材种类": "-", "沥青种类": "-", "色粉种类": "-", "辅料种类": "外添加剂", "所属类别": "辅料" },
                    { "物料编码": 33004, "物料名称": "玄武岩纤维（加工）", "石材种类": "-", "沥青种类": "-", "色粉种类": "-", "辅料种类": "外添加剂", "所属类别": "辅料" },
                    { "物料编码": 34001, "物料名称": "铁红色粉", "石材种类": "-", "沥青种类": "-", "色粉种类": "铁红色粉", "辅料种类": "-", "所属类别": "色粉" },
                    { "物料编码": 34002, "物料名称": "深灰色粉", "石材种类": "-", "沥青种类": "-", "色粉种类": "深灰色粉", "辅料种类": "-", "所属类别": "色粉" },
                    { "物料编码": 34003, "物料名称": "浅灰色粉", "石材种类": "-", "沥青种类": "-", "色粉种类": "浅灰色粉", "辅料种类": "-", "所属类别": "色粉" },
                    { "物料编码": 34004, "物料名称": "浅蓝色粉", "石材种类": "-", "沥青种类": "-", "色粉种类": "浅蓝色粉", "辅料种类": "-", "所属类别": "色粉" },
                    { "物料编码": 34005, "物料名称": "橙色色粉", "石材种类": "-", "沥青种类": "-", "色粉种类": "橙色色粉", "辅料种类": "-", "所属类别": "色粉" },
                    { "物料编码": 34006, "物料名称": "深蓝色粉", "石材种类": "-", "沥青种类": "-", "色粉种类": "深蓝色粉", "辅料种类": "-", "所属类别": "色粉" },
                    { "物料编码": 34007, "物料名称": "铁红加工色粉", "石材种类": "-", "沥青种类": "-", "色粉种类": "铁红色粉", "辅料种类": "-", "所属类别": "色粉" },
                    { "物料编码": 34008, "物料名称": "绿色色粉", "石材种类": "-", "沥青种类": "-", "色粉种类": "绿色色粉", "辅料种类": "-", "所属类别": "色粉" },
                    { "物料编码": 34009, "物料名称": "蓝灰色粉", "石材种类": "-", "沥青种类": "-", "色粉种类": "蓝灰色粉", "辅料种类": "-", "所属类别": "色粉" }
                ],
                otherData: [
                    { "物料编码": 14001, "物料名称": "沥青砼-10", "石材种类": "碎石", "沥青种类": "重交沥青", "色粉种类": "", "辅料种类": "", "所属类别": "再生重交" },
                    { "物料编码": 14002, "物料名称": "沥青砼-13", "石材种类": "碎石", "沥青种类": "重交沥青", "色粉种类": "", "辅料种类": "", "所属类别": "再生重交" },
                    { "物料编码": 14003, "物料名称": "AC-20（底料）", "石材种类": "碎石", "沥青种类": "重交沥青", "色粉种类": "", "辅料种类": "", "所属类别": "再生重交" },
                    { "物料编码": 14004, "物料名称": "AC-20（中层料）", "石材种类": "碎石", "沥青种类": "重交沥青", "色粉种类": "", "辅料种类": "", "所属类别": "再生重交" },
                    { "物料编码": 41001, "物料名称": "废铁", "石材种类": "-", "沥青种类": "-", "色粉种类": "-", "辅料种类": "-", "所属类别": "其他销售" },
                    { "物料编码": 42002, "物料名称": "机制砂（修建）", "石材种类": "-", "沥青种类": "-", "色粉种类": "-", "辅料种类": "-", "所属类别": "其他采购" },
                    { "物料编码": 42003, "物料名称": "钢材", "石材种类": "-", "沥青种类": "-", "色粉种类": "-", "辅料种类": "-", "所属类别": "其他采购" }
                ],
            },
            computed: {
                filteredInventory() {
                    // 只根据选中的类型返回对应的筛选结果
                    const data = this.selectedType === 'common' ? this.commonData :
                        this.selectedType === 'product' ? this.productData :
                            this.selectedType === 'rawMaterial' ? this.rawMaterialData :
                                this.otherData;
                    return data.filter(item =>
                        (!this.nameQuery || item.物料名称.toLowerCase().includes(this.nameQuery.toLowerCase())) &&
                        (!this.stoneTypeQuery || item.石材种类.toLowerCase().includes(this.stoneTypeQuery.toLowerCase())) &&
                        (!this.asphaltTypeQuery || item.沥青种类.toLowerCase().includes(this.asphaltTypeQuery.toLowerCase())) &&
                        (!this.categoryQuery || item.所属类别.toLowerCase().includes(this.categoryQuery.toLowerCase()))
                    );
                }
            }
        });
    </script>
</body>

</html>